<%
var el = env.locale;
var l = "en-US";
var p = "Web/Reference/Events";
var s = ', '

if (env.locale === "ja") {
    l = el;
    p = "Web/Reference/Events";
    s = 'ã€'
}


%><a href="/<%-l %>/docs/<%-p%>/copy"><code>copy</code></a><%-s%><a href="/<%-l %>/docs/<%-p%>/cut"><code>cut</code></a><%-s%><a href="/<%-l %>/docs/<%-p%>/paste"><code>paste</code></a>
