<%
var lang = env.locale;

switch(lang) {
    case 'de':
%>
CSS Schlüsselkonzepte:
 <a href="/<%= lang %>/docs/Web/CSS/Syntax" title="Syntax">CSS Syntax</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Spezifität" title="Spezifität">Spezifität</a> und
 <a href="/<%= lang %>/docs/Web/CSS/Vererbung" title="Vererbung">Vererbung</a>, das
 <a href="/<%= lang %>/docs/Web/CSS/Boxmodell" title="Boxmodell">Boxmodell</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Layoutmodi" title="CSS Layoutmodi">Layoutmodi</a> und
 <a href="/<%= lang %>/docs/Web/Guide/CSS/Visuelles_Formatierungsmodell" title="Visuelles Formatierungsmodell">visuelle Formatierungsmodelle</a> und 
 <a href="/<%= lang %>/docs/Web/CSS/Boxmodell/Abstandzusammenfallen_meistern" title="Abstandzusammenfallen">Abstandzusammenfallen</a>, or the 
 <a href="/<%= lang %>/docs/Web/CSS/Initialwert" title="Initialwert">initiale</a>,
 <a href="/<%= lang %>/docs/Web/CSS/berechneter_Wert" title="berechneter Wert">berechnete</a>,
 <a href="/<%= lang %>/docs/Web/CSS/verwendeter_Wert" title="verwendeter Wert">verwendete</a> and 
 <a href="/<%= lang %>/docs/Web/CSS/tatsächlicher_Wert" title="tatsächlicher Wert">tatsächliche</a> Werte.
 Definitions of 
 <a href="/<%= lang %>/docs/Web/CSS/Wertdefinitionssyntax" title="Wertdefinitionssyntax">Wertsyntax</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Kurzschreibweiseeigenschaften" title="Kurzschreibweiseeigenschaften">Kurzschreibweiseeigenschaften</a> and 
 <a href="/<%= lang %>/docs/Web/CSS/ersetztes_Element" title="Ersetztes Element">ersetzte Elemente</a>.
<%
        break;
    case 'es':
%>
Conceptos clave CSS:
 <a href="/<%= lang %>/docs/Web/CSS/Syntax" title="Sintaxis CSS">sintaxis CSS</a>,
 <a href="/<%= lang %>/docs/Web/CSS/At-rule" title="regla-at">regla-at</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Comments" title="Comentarios">comentarios</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Specificity" title="Especificidad">especificidad</a> y
 <a href="/<%= lang %>/docs/Web/CSS/inheritance" title="Herencia">herencia</a>,
 <a href="/<%= lang %>/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model" title="El modelo de cajas">el modelo de cajas</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Layout_mode" title="Modos de diseño">modos de diseño</a> y
 <a href="/<%= lang %>/docs/Web/Guide/CSS/Visual_formatting_model" title="Modelo de formato visual">modelos de formato visual</a>, y
 <a href="/<%= lang %>/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" title="Colapso de márgenes">colapso de márgenes</a>, o los valores  
 <a href="/<%= lang %>/docs/Web/CSS/initial_value" title="Valor inicial">inicial</a>,
 <a href="/<%= lang %>/docs/Web/CSS/computed_value" title="Valor calculado">calculado</a>,
 <a href="/<%= lang %>/docs/Web/CSS/resolved_value" title="Valor resuelto">resuelto</a>,
 <a href="/<%= lang %>/docs/Web/CSS/specified_value" title="Valor especificado">especificado</a>,
 <a href="/<%= lang %>/docs/Web/CSS/used_value" title="Valor usado">usado</a>, y 
 <a href="/<%= lang %>/docs/Web/CSS/actual_value" title="Valor actual">actual</a>.
 Definiciones de
 <a href="/<%= lang %>/docs/Web/CSS/Value_definition_syntax" title="Sintaxis de definición de valores">sintaxis de definición de valores</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Shorthand_properties" title="Propiedades abreviadas">propiedades abreviadas</a> y 
 <a href="/<%= lang %>/docs/Web/CSS/Replaced_element" title="Elementos reemplazados">elementos reemplazados</a>.
<%
        break;
    case 'fr':    
%>
Concepts-clé du CSS:
 <a href="/<%= lang %>/docs/Web/CSS/Syntax">syntaxe CSS</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Specificity">specificité</a> and
 <a href="/<%= lang %>/docs/Web/CSS/inheritance">héritage</a>, le 
 <a href="/<%= lang %>/docs/Web/CSS/box_model">modèle de boîte</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Layout_mode">modes d'affichage</a> and
 <a href="/<%= lang %>/docs/Web/CSS/Visual_formatting_model">modèles de formattage visuel</a>, et 
 <a href="/<%= lang %>/docs/Web/CSS/margin_collapsing">fusion des marges</a>, ou les valeurs 
 <a href="/<%= lang %>/docs/Web/CSS/initial_value">initiales</a>,
 <a href="/<%= lang %>/docs/Web/CSS/computed_value">calculées</a>,
 <a href="/<%= lang %>/docs/Web/CSS/used_value">utilisées</a> et 
 <a href="/<%= lang %>/docs/Web/CSS/actual_value">veritables</a>.
 Définitions des 
 <a href="/<%= lang %>/docs/Web/CSS/Value_definition_syntax">syntaxes de valeurs</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Shorthand_properties">propriétés raccourcies</a> et 
 <a href="/<%= lang %>/docs/Web/CSS/Replaced_element">éléments remplacés</a>.
<%
        break;
    case 'ja':
%>
CSS の主要概念:
 <a href="/<%= lang %>/docs/Web/CSS/Syntax" title="Syntax" >CSS 構文</a>、
 <a href="/<%= lang %>/docs/Web/CSS/Specificity" title="Specificity">詳細度</a>、
 <a href="/<%= lang %>/docs/Web/CSS/inheritance" title="inheritance">継承</a>、
 <a href="/<%= lang %>/docs/Web/CSS/box_model" title="Box model">ボックスモデル</a>、
 <a href="/<%= lang %>/docs/Web/CSS/Layout_mode" title="CSS layout modes">レイアウトモード</a>、
 <a href="/<%= lang %>/docs/Web/CSS/Visual_formatting_model" title="Visual formatting model">視覚フォーマットモデル</a>、
 <a href="/<%= lang %>/docs/Web/CSS/margin_collapsing" title="Margin collapsing">マージンの相殺</a>、値 (
 <a href="/<%= lang %>/docs/Web/CSS/initial_value" title="initial value">initial</a> /
 <a href="/<%= lang %>/docs/Web/CSS/computed_value" title="computed value">computed</a> /
 <a href="/<%= lang %>/docs/Web/CSS/used_value" title="used value">used</a> /
 <a href="/<%= lang %>/docs/Web/CSS/actual_value" title="actual value">actual</a>)、
 <a href="/<%= lang %>/docs/Web/CSS/Value_definition_syntax" title="Value definition syntax">値の定義構文</a>、
 <a href="/<%= lang %>/docs/Web/CSS/Shorthand_properties" title="Shorthand properties">ショートハンドプロパティ</a>、
 <a href="/<%= lang %>/docs/Web/CSS/Replaced_element" title="Replaced element">置換要素</a>
<%
        break;
    case 'ru':
%>
Ключевые концепции CSS:
 <a href="/<%= lang %>/docs/Web/CSS/Синтаксис" title="Синтаксис">Синтаксис CSS</a>,
 <a href="/<%= lang %>/docs/Web/CSS/At-rule" title="@-правила">@-правила</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Comments" title="Комментарии">комментарии</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Specificity" title="Специфичность">специфичность</a> и
 <a href="/<%= lang %>/docs/Web/CSS/inheritance" title="Наследование">наследование</a>,
 <a href="/<%= lang %>/docs/Web/CSS/box_model" title="Блочная модель">блочная модель</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Layout_mode" title="Режимы компоновки CSS">режимы компоновки</a> и
 <a href="/<%= lang %>/docs/Web/CSS/Visual_formatting_model" title="Модель визуального форматирования">модели визуального форматирования</a>,
 <a href="/<%= lang %>/docs/Web/CSS/margin_collapsing" title="Схлопывание отступов">схлопывание отступов</a>,
 <a href="/<%= lang %>/docs/Web/CSS/initial_value" title="Начальное значение">начальные</a>,
 <a href="/<%= lang %>/docs/Web/CSS/computed_value" title="Вычисленное значение">вычисленные</a>,
 <a href="/<%= lang %>/docs/Web/CSS/resolved_value" title="Решённое значение">решённые</a>,
 <a href="/<%= lang %>/docs/Web/CSS/specified_value" title="Указанное значение">указанные</a>,
 <a href="/<%= lang %>/docs/Web/CSS/used_value" title="Используемое значение">используемые</a> и
 <a href="/<%= lang %>/docs/Web/CSS/actual_value" title="Действительное значение">действительные</a> значения. 
 <a href="/<%= lang %>/docs/Web/CSS/Value_definition_syntax" title="Синтаксис определения значений">Синтаксис определения значений</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Shorthand_properties" title="Сокращённые свойства">сокращённые свойства</a> и
 <a href="/<%= lang %>/docs/Web/CSS/Замещаемый_элемент" title="Замещаемые элементы">замещаемые элементы</a>.
<%
        break;
    case 'zh-CN':
%>
CSS Key Concepts:
 <a href="/<%= lang %>/docs/Web/CSS/Syntax" title="语法">CSS 语法</a>,
 <a href="/<%= lang %>/docs/Web/CSS/At-rule" title="@规则">@规则</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Comments" title="注释">注释</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Specificity" title="优先级">优先级</a>和
 <a href="/<%= lang %>/docs/Web/CSS/inheritance" title="继承">继承</a>, the 
 <a href="/<%= lang %>/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model" title="盒模型">盒模型</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Layout_mode" title="CSS 布局模式">布局模式</a>和
 <a href="/<%= lang %>/docs/Web/Guide/CSS/Visual_formatting_model" title="视觉格式化模型">视觉格式化模型</a>，以及
 <a href="/<%= lang %>/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" title="外边距合并">外边距合并</a>，或者
 <a href="/<%= lang %>/docs/Web/CSS/initial_value" title="初始值">初始</a>、
 <a href="/<%= lang %>/docs/Web/CSS/computed_value" title="计算值">计算</a>、
 <a href="/<%= lang %>/docs/Web/CSS/resolved_value" title="解析值">解析</a>、
 <a href="/<%= lang %>/docs/Web/CSS/specified_value" title="指定值">指定</a>、
 <a href="/<%= lang %>/docs/Web/CSS/used_value" title="使用值">使用</a>和
 <a href="/<%= lang %>/docs/Web/CSS/actual_value" title="实际值">实际</a>值。
 Definitions of 
 <a href="/<%= lang %>/docs/Web/CSS/Value_definition_syntax" title="值定义语法">值语法</a>、
 <a href="/<%= lang %>/docs/Web/CSS/Shorthand_properties" title="简写属性">简写属性</a>和
 <a href="/<%= lang %>/docs/Web/CSS/Replaced_element" title="可替换元素">可替换元素</a>。
<%
        break;
    default:
%>
CSS Key Concepts:
 <a href="/<%= lang %>/docs/Web/CSS/Syntax" title="Syntax">CSS syntax</a>,
 <a href="/<%= lang %>/docs/Web/CSS/At-rule" title="At-rule">at-rule</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Comments" title="Comments">comments</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Specificity" title="Specificity">specificity</a> and
 <a href="/<%= lang %>/docs/Web/CSS/inheritance" title="inheritance">inheritance</a>, the 
 <a href="/<%= lang %>/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model" title="Box model">box</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Layout_mode" title="CSS layout modes">layout modes</a> and
 <a href="/<%= lang %>/docs/Web/Guide/CSS/Visual_formatting_model" title="Visual formatting model">visual formatting models</a>, and 
 <a href="/<%= lang %>/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing" title="Margin collapsing">margin collapsing</a>, or the 
 <a href="/<%= lang %>/docs/Web/CSS/initial_value" title="initial value">initial</a>,
 <a href="/<%= lang %>/docs/Web/CSS/computed_value" title="computed value">computed</a>,
 <a href="/<%= lang %>/docs/Web/CSS/resolved_value" title="resolved value">resolved</a>,
 <a href="/<%= lang %>/docs/Web/CSS/specified_value" title="specified value">specified</a>,
 <a href="/<%= lang %>/docs/Web/CSS/used_value" title="used value">used</a>, and 
 <a href="/<%= lang %>/docs/Web/CSS/actual_value" title="actual value">actual</a> values.
 Definitions of 
 <a href="/<%= lang %>/docs/Web/CSS/Value_definition_syntax" title="Value definition syntax">value syntax</a>,
 <a href="/<%= lang %>/docs/Web/CSS/Shorthand_properties" title="Shorthand properties">shorthand properties</a> and
 <a href="/<%= lang %>/docs/Web/CSS/Replaced_element" title="Replaced element">replaced elements</a>.
<%
}
%>
