<%
var found,
    width  = $1 > 0 ? $1 : 250,
    height = $2 > 0 ? $2 : 250;

var m1 = mdn.localString({
    "en-US" : "Unable to find file ",
    "uk"    : "Файлу «"
});

var m2 = mdn.localString({
    "en-US" : "",
    "uk"    : "» не знайдено"
});
 
env.files.forEach(function (aFile) {
    if(!found && $0 === aFile.filename) {
        found = true;
%>
<iframe src="<%- aFile.url %>" width="<%- width %>" height="<%- height %>" frameborder="0" sandbox="allow-scripts"></iframe>
<%
    }
});
 
if (!found) {
%><p><%-m1%><em><%= $0 %></em><%-m2%></p><%
}
%>
