<%
var loc = env.locale;
var path = mdn.localString({
     "en-US": "Mozilla_event_reference"
});


%><ul>
<li><a href="/<%-loc%>/<%-path%>/MozSwipeGesture"><code>MozSwipeGesture</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozMagnifyGestureStart"><code>MozMagnifyGestureStart</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozMagnifyGestureUpdate"><code>MozMagnifyGestureUpdate</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozMagnifyGesture"><code>MozMagnifyGesture</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozRotateGestureStart"><code>MozRotateGestureStart</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozRotateGestureUpdate"><code>MozRotateGestureUpdate</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozRotateGesture"><code>MozRotateGesture</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozTapGesture"><code>MozTapGesture</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozPressTapGesture"><code>MozPressTapGesture</code></a></li>
<li><a href="/<%-loc%>/<%-path%>/MozEdgeUIGesture"><code>MozEdgeUIGesture</code></a></li>
</ul>
