<%

var lang = env.locale;
var method = $0.toUpperCase(); // Methods are always uppercase
var str = $1 || $0;
var rtlLocales = ['ar', 'he', 'fa'];
var localStrings = string.deserialize(template("L10n:Common"));
var URL = "/" + lang + '/docs/Web/HTTP/Methods/' + method;
var anch = '';

if ($2) {
  str = str + '.' + $2;
  anch = '#' + $2;
}

var page = wiki.getPage(URL);
var summary = "";

if (!$2) {
    if (page && page.summary) {
        summary = mdn.escapeQuotes(page.summary);
    } else {
        summary = mdn.getLocalString(localStrings, "summary");
    }
}

var code = '';
var endcode = '';
if (!$3) { code = '<code>'; endcode = '</code>' }

%><a href="<%- URL+anch %>" title="<%-summary%>"><%- code %><%- str %><%- endcode %></a>
