<%
var el = env.locale;

var s_th = mdn.localString({
    "en-US" : ["Property"  , "Type", "Description"],
    "fr"    : ["Propriété" , "Type", "Description"],
    "es"    : ["Propiedad"  , "Tipo", "Descripción"],
    "ja"    : ["プロパティ", "型"  , "説明"],
    "ru"    : ["Свойство", "Тип", "Описание"],
    "de"    : ["Eigenschaft", "Typ", "Beschreibung"],
});

var s = mdn.localString({
    "ja"    : ["イベントターゲット (DOM ツリー内最上位の対象)", "イベントの型", "通常時のバブリングの有無", "イベントのキャンセルの可否"],
    "en-US" : ["The event target (the topmost target in the DOM tree).", "The type of event.", "Whether the event normally bubbles or not", "Whether the event is cancellable or not?"],
    "es"    : ["El objetivo del evento (el elemento más superior en el árbol DOM).", "El tipo de evento.", "Si el elemento normalmente es burbuja o no", "Si el elemento es cancelable o no"],
    "ru"    : ["Цель события (самая важная в дереве DOM).","Тип события.","Будет ли событие нормально бить","Отменяемо ли событие?"],
    "fr"    : ["La cible de l’évènement (la plus haute dans l’arbre DOM)", "Le type de l’évènement", "Si l’évènement bouillonne par défaut ou non", "Si l’évènement est annulable ou non"],
    "de"    : ["Ziel des Events (oberstes Zielelement im DOM-Baum)", "Typ des Events.", "Gibt an, ob das Event standardmäßig propagiert wird", "Gibt an, ob das Event abbrechbar ist"],
});


%><table class="standard-table">
  <thead>
    <tr>
      <th scope="col" width="150"><%- s_th[0] %></th>
      <th scope="col" width="100"><%- s_th[1] %></th>
      <th scope="col"><%- s_th[2] %></th>
    </tr>
  </thead>
  <tbody>
 <% if ( $0 != "false" ) { %>
 <tr>
    <td><code>target</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["EventTarget"]) %></td>
    <td><%= $0 || s[0] %></td>
 </tr>
 <% } %>
  <tr>
    <td><code>type</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["DOMString"]) %></td>
    <td><%- s[1] %></td>
  </tr>
  <tr>
    <td><code>bubbles</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["Boolean"]) %></td>
    <td><%- s[2] %></td>
  </tr>
  <tr>
    <td><code>cancelable</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["Boolean"]) %></td>
    <td><%- s[3] %></td>
  </tr>
