<%
var el = env.locale;

var s_th = mdn.localString({
    "en-US" : ["Property"  , "Type", "Description"],
    "zh-CN" : ["属性"  , "类型", "说明"],
    "fr"    : ["Propriété" , "Type", "Description"],
    "ja"    : ["プロパティ", "型"  , "説明"],
    "ru"    : ["Свойство", "Тип", "Описание"]
});

var s = mdn.localString({
    "ja" : ["イベントターゲット (DOM ツリー内最上位の対象)", "イベントの型", "通常時のバブリングの有無", "イベントのキャンセルの可否"],
    "en-US" : ["The event target (the topmost target in the DOM tree).", "The type of event.", "Whether the event normally bubbles or not", "Whether the event is cancellable or not?"],
    "zh-CN" : ["事件目标（DOM 树中的最顶层目标）。", "事件类型。", "事件是否正常冒泡", "事件是否可取消"],
    "ru"    : ["Цель события (самая важная в дереве DOM).","Тип события.","Будет ли событие нормально бить","Отменяемо ли событие?"]
});


%><table class="standard-table">
  <thead>
    <tr>
      <th scope="col" width="150"><%- s_th[0] %></th>
      <th scope="col" width="100"><%- s_th[1] %></th>
      <th scope="col"><%- s_th[2] %></th>
    </tr>
  </thead>
  <tbody>
 <% if ( $0 != "false" ) { %>
 <tr>
    <td><code>target</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["EventTarget"]) %></td>
    <td><%= $0 || s[0] %></td>
 </tr>
 <% } %>
  <tr>
    <td><code>type</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["DOMString"]) %></td>
    <td><%- s[1] %></td>
  </tr>
  <tr>
    <td><code>bubbles</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["Boolean"]) %></td>
    <td><%- s[2] %></td>
  </tr>
  <tr>
    <td><code>cancelable</code> <%- template("readonlyInline", [])%></td>
    <td><%- template("domxref", ["Boolean"]) %></td>
    <td><%- s[3] %></td>
  </tr>
