<%
var currentSection = $0;
var locale = env.locale;

function state(section) {
	if (section == currentSection) {
		return "open";
	}
	return "closed";
}

var text = mdn.localString({
	'en-US': {
		'Performance_API': 'Performance API',
	    'Interfaces': 'Interfaces'
	}
});
%>
<section id="Quick_Links">
	<ol>
		<li><a href="/<%=locale%>/docs/Web/API/Payment_Request_API"><strong><%=test['Performance_API']%></strong></a></li>
		<li data-default-state="open"><a href="#"><strong><%=test['Interfaces']%></strong></a>
			<ol>
				<li><%-template("domxref", ["Performance"])%></li>
				<li><%-template("domxref", ["PerformanceEntry"])%></li>
				<li><%-template("domxref", ["PerformanceFrameTiming"])%></li>
				<li><%-template("domxref", ["PerformanceMark"])%></li>
				<li><%-template("domxref", ["PerformanceMeasure"])%></li>
				<li><%-template("domxref", ["PerformanceNavitationTiming"])%></li>
				<li><%-template("domxref", ["PerformanceObserver"])%></li>
				<li><%-template("domxref", ["PerformanceResourceTiming"])%></li>
				<li><%-template("domxref", ["window.performance"])%></li>
			</ol>
		</li>
		<li><strong><a href="/<%=locale%>/docs/MDN"><%=text['Documentation']%></a></strong></li>
		<li data-default-state="<%=state('Useful lists')%>"><a href="#"><%=text['Useful_lists']%></a>
			<ol>
				<li><a href="/<%=locale%>/docs/tag/ServiceWorker"><%=text['Service_Worker_tag']%></a></li>
			</ol>
		</li>
		<li data-default-state="<%=state('Contribute')%>"><a href="#"><%=text['Contribute']%></a>
			<ol>
				<li><a href="/<%=locale%>/docs/MDN"><%=text['The_MDN_project']%></a></li>
			</ol>
		</li>
	</ol>
</section>