<%
var el = env.locale;

var s1 = template("domxref", ["WindowProxy"]);

var s2 = mdn.localString({
    "en-US" : "(<code>window</code> of the document)",
    "zh-CN" : "（文档的 <code>window</code>）",
    "de"    : "(<code>window</code> des Dokuments)",
    "ja"    : "（document の <code>window</code>）",
    "ru"    : "(<code>window</code> документа)"
});

var s3 = "<code>long</code> (<code>float</code>)";


%><tr>
  <td><code>view</code> <%- template("readonlyInline") %></td>
  <td><%- s1 %></td>
  <td><%- template("domxref", ["document.defaultView"]) %> <%- s2 %></td>
</tr>
<tr>
  <td><code>detail</code> <%- template("readonlyInline") %></td>
  <td><%- s3 %></td>
  <td><%= ( $0 || "0." ) %></td>
</tr>
