<section class=Quick_links id=Quick_Links>
<ol>
  <li><a href=/<%=locale%>/docs/Web/WebDriver><strong><em>WebDriver</em></strong></a></li>

  <li class=toggle>
    <details open>
      <summary>Sessions</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/NewSession>New Session</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/DeleteSession>Delete Session</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/Status>Status</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetTimeouts>Get Timeouts</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/SetTimeouts>Set Timeouts</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Navigation</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/NavigateTo>Navigate To</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetCurrentURL>Get Current URL</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/Back>Back</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/Forward>Forward</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/Refresh>Refresh</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetTitle>Get Title</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Windows</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetWindowHandle>Get Window Handle</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetWindowHandles>Get Window Handles</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/CloseWindow>Close Window</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/SwitchToWindow>Switch To Window</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/SwitchToFrame>Switch To Frame</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/SwitchToParentFrame>Switch To Parent Frame</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetWindowRect>Get Window Rect</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/SetWindowRect>Set Window Rect</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/MaximizeWindow>Maximize Window</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/MinimizeWindow>Minimize Window</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/FullscreenWindow>Fullscreen Window</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Element retrieval</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/FindElement>Find Element</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/FindElements>Find Elements</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/FindElementFromElement>Find Element From Element</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/FindElementsFromElement>Find Elements From Element</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetActiveElement>Get Active Element</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Element state</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/IsElementSelected>Is Element Selected</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementAttribute>Get Element Attribute</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementProperty>Get Element Property</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementCSSValue>Get Element CSS Value</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementCSSValue>Get Element CSS Value</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementText>Get Element Text</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementTagName>Get Element Tag Name</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetElementRect>Get Element Rect</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/IsElementEnabled>Is Element Enabled</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/IsElementDisplayed>Is Element Displayed</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Element interaction</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/ElementClick>Element Click</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/ElementClear>Element Clear</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/ElementSendKeys>Element Send Keys</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Document</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetPageSource>Get Page Source</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/ExecuteScript>Execute Script</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/ExecuteAsyncScript>Execute Async Script</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Cookies</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetAllCookies>Get All Cookies</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetNamedCookie>Get Named Cookie</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/AddCookie>AddCookie</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/DeleteCookie>Delete Cookie</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/DeleteAllCookies>Delete All Cookies</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Actions</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/PerformActions>Perform Actions</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/ReleaseActions>Release Actions</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>User prompts</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/DismissAlert>Dismiss Alert</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/AcceptAlert>Accept Alert</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/GetAlertText>Get Alert Text</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/SendAlertText>Send Alert Text</a>
      </ol>
    </details>

  <li class=toggle>
    <details open>
      <summary>Screen capture</summary>

      <ol>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/TakeScreenshot>Take Screenshot</a>
        <li><a href=/<%=locale%>/docs/Web/WebDriver/Commands/TakeElementScreenshot>Take Element Screenshot</a>
      </ol>
    </details>

</ol>
</section>
