<%
var lang = env.locale;

var s = mdn.localString({ // seems to be unnecessary
    'en-US': ['open','close','error','message'],
    'zh-CN': ['open','close','error','message']
});
%>
<ul>
<li><a href="/<%=lang%>/Mozilla_event_reference/open_websocket"><code><%=s[0]%></code></a></li>
<li><a href="/<%=lang%>/Mozilla_event_reference/close_websocket"><code><%=s[1]%></code></a></li>
<li><a href="/<%=lang%>/Mozilla_event_reference/error_websocket"><code><%=s[2]%></code></a></li>
<li><a href="/<%=lang%>/Mozilla_event_reference/message_websocket"><code><%=s[3]%></code></a></li>
</ul>
