<%
// This template is used on various DOM Node related pages to explain WRONG_DOCUMENT_ERR
// and how to avoid it.
//
// Parameters:
//  None.

var lang = env.locale;

// Create links

var linkImport = template("domxref", ["document.importNode()"]);
var linkAdopt = template("domxref", ["document.adoptNode()"]);
var linkOwner = template("domxref", ["Node.ownerDocument"]);
var linkBug = template("bug", ["47903"]);

function showEnglish() {
    %>
    <p>Nodes from external documents should be cloned using <%-linkImport%> (or adopted using <%-linkAdopt%>) before they
    can be inserted into the current document. For more on the <%-linkOwner%> issues, see the
    <a href="http://www.w3.org/DOM/faq.html#ownerdoc">W3C DOM FAQ</a>.</p>
    
    <p>Firefox doesn't currently enforce this rule (it did for a while during the development of Firefox 3, but too many
    sites break when this rule is enforced). We encourage Web developers to fix their code to follow this rule for
    improved future compatibility.</p>
    <%
}

function showFrench() {
%>
    <p>Les nœuds provenant de documents externes doivent être clonés à l'aide de <%-linkImport%> (ou adoptés avec
    <%-linkAdopt%>) avant de pouvoir être insérés dans le document courant. Pour en savoir plus sur les problèmes
    de <%-linkOwner%>, consultez la <a href="http://www.w3.org/DOM/faq.html#ownerdoc">FAQ DOM du W3C</a> (en anglais).</p>
    
    <p>Gecko n'obligeait pas à utiliser <%-linkImport%> et <%-linkAdopt%> avant sa version 1.9. Depuis les versions 1.9
    alphas, si un nœud n'est pas adopté ou importé avant d'être utilisé dans un autre document, l'exception
    <code>WRONG_DOCUMENT_ERR</code> est déclenchée (<code>NS_ERROR_DOM_WRONG_DOCUMENT_ERR</code>). implémentation dans le <%-linkBug%>.</p>
<%
}

function showPolish() {
%>
    <p>Przed włączeniem węzłów pochodzących z zewnętrznych dokumentów do bieżącego dokumentu konieczne jest ich sklonowanie za
    pomocą metody <%-linkImport%> (lub zaadaptowanie przy użyciu metody <%-linkAdopt%>). Więcej informacji na temat własności
    <%-linkOwner%> znajduje się na liście najczęściej zadawanych pytań na <a href="http://www.w3.org/DOM/faq.html#ownerdoc">temat
    DOM w witrynie W3C</a>.</p>
    
    <p>Aktualnie Firefox nie wymusza tej reguły (robił to przez pewien czas podczas cykli rozwojowych Firefoksa 3, ale zbyt
    dużo stron przestawało działać po wymuszeniu tej reguły). Zachęcamy autorów stron do poprawienia ich kodu dla lepszej
    kompatybilności w przyszłości.</p>
<%
}

function showZHcn() {
%>
    <p>将外部文档的节点插入当前文档之前,你必须使用 <%-linkImport%> 从外部文档导入源节点,或者使用 <%-linkAdopt%>导入源节点, 
    想要了解更多的 <%-linkOwner%> 问题,请参考 <a href="http://www.w3.org/DOM/faq.html#ownerdoc">W3C DOM FAQ</a>.</p>
    
    <p>即使你不执行导入动作,就执行插入外部文档中的节点.Firefox目前也不会报错(如果严格按标准执行,很多已有的网站都无法正常运行).
    我们鼓励开发者严格按标准修改自己已有的不符合上述标准的代码.<p>
<%
}

function showJapanese() {
%>
    <p>外部ドキュメントからのノードは、現在のドキュメントに挿入する前に <%-linkImport%> を使ってクローンを作る (あるいは 
    <%-linkAdopt%> を使って取り込む) べきです。<%-linkOwner%> 問題の詳細については 
    <a href="http://www.w3.org/DOM/faq.html#ownerdoc">W3C DOM FAQ</a> を参照してください。</p>
    
    <p>Firefox では現在このルールを強制していません。Firefox 3 の開発中には強制していた時期もありましたが、このルールを強制すると多くのサイトが機能しなくなってしまうため取りやめになりました。
    将来的な互換性を高めるため、Web 開発者にはこのルールに従ってコードを修正することを推奨します。</p>
<%
}

switch(lang) {
    case 'fr':
        showFrench();
        break;
    case 'pl':
        showPolish();
        break;
    case 'zh-CN':
        showZHcn();
        break;
    case 'ja':
        showJapanese();
        break;
    default:
        showEnglish();
        break;
}
%>
